#wrapper_two .content{
    grid-area: "content";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "box1 box2 box3 box4";
    grid-gap: 3vw;
}

.box {
    border-radius: 20px;  
    background: rgb(70, 81, 114,0);
    grid-area: "content";
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9vh auto auto auto;
    grid-template-areas:
    "boxheading"
    "boxpicture"
    "info"
    "boxtext";
}

.boxpicture {
    grid-area: boxpicture;
    min-height: 11vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 5px rgb(44, 255, 234, 0.6));
}

.boxheading {
    justify-self: center;
    align-self: center;
    grid-area: boxheading;
    text-align: center;
}

.info {
    grid-area: info;
    float: right;
    background:#2CFFEA;
    color:#0C0C46;
    width: 37px;
    height: 30px;
    border-radius: 20px;
    padding-top: 7px;
    text-align: center;
    justify-self: end;
    margin-right: 3vh;
    margin-top: 1vh;
    cursor: pointer;
    opacity: 0;
}

.boxtext {
    grid-area: boxtext;
    width: 85%;
    justify-self: center;
    align-self: end;
    margin-bottom: 3vh;
    opacity: 0;
}

#box1 {
    grid-area: box1;
}

#box1 .boxpicture {
    background-image: url(pictures/virus.png); 
}

#box2 {
    grid-area: box2;
}

#box2 .boxpicture {
    background-image: url(pictures/hunger.png); 
}

#box3 {
    grid-area: box3;
}

#box3 .boxpicture {
    background-image: url(pictures/gun.png); 
}

#box4 {
    grid-area: box4;
}

#box4 .boxpicture {
    background-image: url(pictures/lake.png); 
}

@keyframes textFadeIn {
    0%   {opacity: 0;}

    100% {opacity: 100;}

  }

@keyframes boxcolorFadeIn {
    0%   {background: rgb(70, 81, 114,0);}

    100% {background: rgb(70, 81, 114,1);
    }
}

@keyframes textFadeOut {
    0%   {opacity: 100;}

    100% {opacity: 0;}

  }

@keyframes boxcolorFadeOut {
    0%   {background: rgb(70, 81, 114,1);}

    100% {background: rgb(70, 81, 114,0);
    }
}

@keyframes colorButton {
    0%   {background: rgb(44, 255, 234, 1);
          color: #0C0C46; }

    20% {background: rgb(44, 255, 234, 0);
      }

    100% {background: rgb(44, 255, 234, 0);
          color: white;
    }
}

@keyframes colorButtonDown {
    0%   {background: rgb(44, 255, 234, 0);
          color: #0C0C46; }

    100% {background: rgb(44, 255, 234, 100);
          color: #0C0C46;;
    }
}

@media only screen and (max-width: 1280px ) {

.box {
    grid-template-rows: 7vh auto auto auto;
}

.info {
    width: 36px;
    height: 28px;
    border-radius: 30px;
    padding-top: 8px;
}
}

@media only screen and (min-width: 1024px ) and (max-width: 1100px) {
   
    .info {
       width: 29px;
       height: 23px;
       border-radius: 18px;
       padding-top: 6px;
}
}

@media only screen and (min-width: 1680px ) {

    .info {
        width: 49px;
        height: 40px;
        border-radius: 26px;
        padding-top: 9px;
    }
}